*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* font-family: 'Roboto', sans-serif; */
nav{
    background-color: black;
}
nav .navbar{
    display: flex;
}
.nomer{
    color: #fff;
}
select{
    background: #000;
    color: #fff;
}
.text{
    color: #fff;
    padding-top: 10px;
}
.text1{
    margin-top: 25px;
    
}
.text1 ul{
display: flex;
justify-content: space-between;

}
.text1 ul li a{
    color: #000;
    text-decoration: none;
}
.coment{
    display: flex;
    justify-content: end;
}
.cont1{
    margin-top: 20px;
    margin-bottom: 35px;
}
select{
    border-top: none;
    border-bottom: none;
}
/* ------------------------------------ section ------------------------------------------- */

.internet{
    background-color: #000;
}
section .text4{
 margin-top: 10px;   
 margin-left: 570px;
}
section .text4 p{
    color: #fff;
}
/* .text4 img{
    padding-left: 10px;
    width: 30px;
    height: 30px;   
} */

/* --------------------------------------- section2 ---------------------------------------------- */
.section2{
    margin-top: 40px;
}
.section2 .col3 .img1{
    margin-bottom: 15px;
}
/* -------------------------------------------- section3 ---------------------------------------------- */
.sc3{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sc3 ul{
display: flex;
justify-content: space-between;
}
.sc3 ul li a{
    text-decoration: none;
    color: #000;
    padding: 17px 26px;
}
.sc3 ul li a:hover{
    background-color: #000;
    color: #fff;
}
.sc_img{
    background-color: #000;
    padding-top: 28px;
}